@import "color";

@import "./components/card";
@import "./components/tag";
@import "./components/list";
@import "./components/filters";

@import "./htmlElements/scrollbar";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin: 0;
  }

  a {
    color: $c_orange;
    text-decoration: none;
    font-family: "DM Sans";
  }
}

body {
  margin: 0;
}

#main {
  margin: 5%;

  > div {
    margin-bottom: 1.25rem;
  }
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 90;
  background-color: $c_gray;
  opacity: 0.5;
}

input {
  height: 4.25rem;
  border: none;
  border-radius: 10px;
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  input {
    width: 100%;
    box-sizing: border-box;
    background-color: $c_gray;
    border: none;
    border-radius: 10px;
    height: 4.25rem;
    padding: 0 1rem;
    font-size: 1.25rem;
    position: relative;
  }

  .loupe_img {
    position: absolute;
    transform: translateX(50%) translateY(50%);
    top: 0;
    right: 1.25rem;
  }
}

.ingredients {
  background-color: $c_blue;
}

.ustensils {
  background-color: $c_orange;
}

.appliances {
  background: $c_green;
}

#tags-container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(6, 1fr);
  
  &:has(span) {
    grid-template-rows: 3em;
  }

  max-height: 15em;
  overflow-y: scroll;
}

#recipe-cards {
  width: 100%;
  height: 115vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
