@import "../color";

.card {
  width: 32%;
  height: 30rem;
  border-radius: 25px;
  margin-bottom: 2rem;
  .picture {
    background-color: $c_darkGray;
    height: 11.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .recipe {
    background-color: $c_gray;
    height: 15rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.25rem;
    .title {
      display: flex;
      justify-content: space-between;
      h1 {
        margin: 0;
        font-size: 1.25rem;
      }
      span {
        
        &::before {
          width: 20px;
          height: 20px;
          margin: 0 6px 0 0;
          content: " ";
          background: url("../assets/images/timer.svg");
        }

        display: flex;
        align-items: center;
        font-weight: bold;
      }
      img {
        margin-right: 0.5rem;
      }
    }
    .content {
      display: flex;
      padding: 1.25rem 0;
      font-size: 0.75rem;
      ul {
        background-color: inherit;
        width: 50%;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      > div {
        width: 50%;
        overflow: hidden;
      }
      .description {
        height: 10rem;
        overflow: auto;
      }
    }
  }
}