@import "../color";

#filters {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 100;

  > div {
    margin-right: 0.75rem;
  }

  input {
    box-sizing: border-box;
    color: $c_white;
    padding: 1.25rem;
    border: none;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: black;
      opacity: 1; /* Firefox */
    }
    
  }

  .custom-selector {
    height: 3.75rem;
    background-color: $c_white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 2rem;
      width: 0.75rem;
      height: 0.75rem;
      border-bottom: 2px solid $c_white;
      border-right: 2px solid $c_white;
      transform: rotate(45deg);
      transform-origin: center;
      transition: transform 0.2s;
    }
  }

  .selected-button::after {
    transform: rotate(-135deg);
  }
}