@import "../color";

.list {
  position: absolute;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1.25rem;
  border-radius: 5px;
  list-style: none;
  width: 90%;

  top: 100%;
  left: 0;
  right: 0;
  
  li {
    padding: 1rem;
    color: $c_white;
    cursor: pointer;
  }

  &.ingredients {
    li {
      border: .25em solid $c_blue;
      box-shadow: 0 6px 8px $darkerBlue;

      &:hover {
        border: .25em dashed $darkerBlue;
        box-shadow: 0 6px 8px $darkerBlue;
      }
    }
  }
  
  &.ustensils {
    li {
      border: .25em solid $c_orange;
      box-shadow: 0 6px 8px $darkerOrange;

      &:hover {
        border: .25em dashed $darkerOrange;
        box-shadow: 0 6px 8px $darkerOrange;
      }
    }
  }
  
  &.appliances {
    li {
      border: .25em solid $c_green;
      box-shadow: 0 6px 8px $darkerGreen;

      &:hover {
        border: .25em dashed $darkerGreen;
        box-shadow: 0 6px 8px $darkerGreen;
      }
    }
  }


  &[data-hidden=true] {
    display: none;
  }
}