.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  color: $c_white;
  height: 2.3rem;
  font-weight: bold;
  padding: 0 1em;

  .cross {
    border: 1px solid $c_white;
    
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
}